.logoFont {
  font-family: 'Berkshire Swash', cursive;
  font-size: 3.5em;
  display: inline-block;
}

.mainHeader {
  background-color: #79a0e8;
  padding: 2%;
}
.navLinks {
  color: #EEE;
  font-size: 1.5em;
}

.grayBackground {
  background-color: #d5d7db;
}

.blueBackground {
  background-color: #1f4894;
  color: #EEE;
}

.border {
  background-color: #F2F2F2;
  border: 3px solid #616060;
  padding: 3%;
  border-radius: 5px;
  margin-top: 5px;
}

.red-alert {
  color: red;
}
